<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi6Cy7CzFKilHXnZhr46lKojBVGoZuzhI</string>
	<key>GCM_SENDER_ID</key>
	<string>1024848291283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godezk.godezkengineer</string>
	<key>PROJECT_ID</key>
	<string>godesk-6367f</string>
	<key>STORAGE_BUCKET</key>
	<string>godesk-6367f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024848291283:ios:09fd30b9572c8840493b26</string>
</dict>
</plist>